<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>cc272fedb0a7c251ceb03bc56ed7f3e0052b247b49ef08f7818b3f2e0bae1c5a</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>a4750c7f6f05c06078a79e8ac9b1ea461e87a4185e7223f295f11556e226164d</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>cc272fedb0a7c251ceb03bc56ed7f3e0052b247b49ef08f7818b3f2e0bae1c5a</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>a4750c7f6f05c06078a79e8ac9b1ea461e87a4185e7223f295f11556e226164d</string>
	<key>DEVELOPMENT</key>
	<false/>
	<key>RESOURCE_BUNDLE</key>
	<string>DefaultTheme.bundle</string>
	<key>OPTIONS</key>
	<dict>
		<key>APP_RUNS_ON_BACKGROUND</key>
		<false/>
		<key>IMAGES_SHARING</key>
		<true/>
		<key>BACKGROUND_COLOR</key>
		<string>FFFFFF</string>
		<key>TOOLBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>NAVBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>ACTIVITY_INDICATOR_COLOR</key>
		<string>000000</string>
		<key>TITLE_COLOR</key>
		<string>000000</string>
		<key>BUTTONS_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_BACKGROUND_COLOR</key>
		<string>E5E5EA</string>
	</dict>
</dict>
</plist>
